img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

p, ul {
  margin: 0 auto;
}

section {
  padding: 10vh 0;
}
.bg-success{
  color: rgb(1, 41, 9);
  background-color: rgb(117, 143, 94) !important;
}
.bg-danger{
  background-color: rgb(116, 80, 87) !important;
}
.bg-info{
  background-color: darkcyan !important;
}